agent-loop/logic-apps-assistant/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string",
                "description": "The user's query to send to the AI assistant"
              },
              "subscriptionId": {
                "type": "string",
                "description": "Optional: Default Azure subscription ID to use"
              },
              "resourceGroupName": {
                "type": "string",
                "description": "Optional: Default resource group name to use"
              }
            },
            "required": ["message"]
          }
        }
      }
    },
    "actions": {
      "Initialize_Messages": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "messages",
              "type": "array",
              "value": [
                {
                  "role": "system",
                  "content": "You are a helpful Azure Logic Apps assistant. You help users manage and troubleshoot their Logic Apps workflows using the available tools. Always use the tools to get real information - never make up data. When listing resources, show them in a clear format."
                }
              ]
            }
          ]
        },
        "runAfter": {}
      },
      "Initialize_Tools": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "tools",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Initialize_Messages": ["Succeeded"]
        }
      },
      "Initialize_LoopComplete": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loopComplete",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "Initialize_Tools": ["Succeeded"]
        }
      },
      "Initialize_IterationCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "iterationCount",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "Initialize_LoopComplete": ["Succeeded"]
        }
      },
      "Initialize_FinalResponse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "finalResponse",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Initialize_IterationCount": ["Succeeded"]
        }
      },
      "Initialize_LastAssistantMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lastAssistantMessage",
              "type": "object",
              "value": {}
            }
          ]
        },
        "runAfter": {
          "Initialize_FinalResponse": ["Succeeded"]
        }
      },
      "Get_MCP_Tools": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "@{appsetting('MCP_SERVER_URL')}/api/mcp",
          "headers": {
            "Content-Type": "application/json",
            "Accept": "application/json, text/event-stream"
          },
          "body": {
            "jsonrpc": "2.0",
            "id": 1,
            "method": "tools/list",
            "params": {}
          }
        },
        "runAfter": {
          "Initialize_LastAssistantMessage": ["Succeeded"]
        }
      },
      "Convert_MCP_Tools_to_OpenAI_Format": {
        "type": "Select",
        "inputs": {
          "from": "@body('Get_MCP_Tools')?['result']?['tools']",
          "select": {
            "type": "function",
            "function": {
              "name": "@item()?['name']",
              "description": "@item()?['description']",
              "parameters": "@item()?['inputSchema']"
            }
          }
        },
        "runAfter": {
          "Get_MCP_Tools": ["Succeeded"]
        }
      },
      "Set_Tools": {
        "type": "SetVariable",
        "inputs": {
          "name": "tools",
          "value": "@body('Convert_MCP_Tools_to_OpenAI_Format')"
        },
        "runAfter": {
          "Convert_MCP_Tools_to_OpenAI_Format": ["Succeeded"]
        }
      },
      "Add_User_Message": {
        "type": "AppendToArrayVariable",
        "inputs": {
          "name": "messages",
          "value": {
            "role": "user",
            "content": "@triggerBody()?['message']"
          }
        },
        "runAfter": {
          "Set_Tools": ["Succeeded"]
        }
      },
      "Agent_Loop": {
        "type": "Until",
        "expression": "@or(equals(variables('loopComplete'), true), greater(variables('iterationCount'), 10))",
        "limit": {
          "count": 15,
          "timeout": "PT5M"
        },
        "actions": {
          "Increment_Iteration": {
            "type": "IncrementVariable",
            "inputs": {
              "name": "iterationCount",
              "value": 1
            },
            "runAfter": {}
          },
          "Call_AI_Model": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "@{appsetting('AI_FOUNDRY_ENDPOINT')}/openai/deployments/@{appsetting('AI_FOUNDRY_DEPLOYMENT')}/chat/completions?api-version=2024-02-15-preview",
              "headers": {
                "Content-Type": "application/json",
                "api-key": "@appsetting('AI_FOUNDRY_API_KEY')"
              },
              "body": {
                "messages": "@variables('messages')",
                "tools": "@variables('tools')",
                "tool_choice": "auto",
                "max_tokens": 4096
              }
            },
            "runAfter": {
              "Increment_Iteration": ["Succeeded"]
            }
          },
          "Parse_AI_Response": {
            "type": "ParseJson",
            "inputs": {
              "content": "@body('Call_AI_Model')",
              "schema": {
                "type": "object",
                "properties": {
                  "choices": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string"
                            },
                            "content": {
                              "type": ["string", "null"]
                            },
                            "tool_calls": {
                              "type": "array"
                            }
                          }
                        },
                        "finish_reason": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "runAfter": {
              "Call_AI_Model": ["Succeeded"]
            }
          },
          "Set_Last_Assistant_Message": {
            "type": "SetVariable",
            "inputs": {
              "name": "lastAssistantMessage",
              "value": "@body('Parse_AI_Response')?['choices']?[0]?['message']"
            },
            "runAfter": {
              "Parse_AI_Response": ["Succeeded"]
            }
          },
          "Append_Assistant_Message": {
            "type": "AppendToArrayVariable",
            "inputs": {
              "name": "messages",
              "value": "@variables('lastAssistantMessage')"
            },
            "runAfter": {
              "Set_Last_Assistant_Message": ["Succeeded"]
            }
          },
          "Check_For_Tool_Calls": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "not": {
                    "equals": [
                      "@variables('lastAssistantMessage')?['tool_calls']",
                      null
                    ]
                  }
                },
                {
                  "greater": [
                    "@length(coalesce(variables('lastAssistantMessage')?['tool_calls'], json('[]')))",
                    0
                  ]
                }
              ]
            },
            "actions": {
              "Execute_Each_Tool_Call": {
                "type": "Foreach",
                "foreach": "@variables('lastAssistantMessage')?['tool_calls']",
                "actions": {
                  "Call_MCP_Tool": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "@{appsetting('MCP_SERVER_URL')}/api/mcp",
                      "headers": {
                        "Content-Type": "application/json",
                        "Accept": "application/json, text/event-stream"
                      },
                      "body": {
                        "jsonrpc": "2.0",
                        "id": "@items('Execute_Each_Tool_Call')?['id']",
                        "method": "tools/call",
                        "params": {
                          "name": "@items('Execute_Each_Tool_Call')?['function']?['name']",
                          "arguments": "@json(items('Execute_Each_Tool_Call')?['function']?['arguments'])"
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "Add_Tool_Result": {
                    "type": "AppendToArrayVariable",
                    "inputs": {
                      "name": "messages",
                      "value": {
                        "role": "tool",
                        "tool_call_id": "@items('Execute_Each_Tool_Call')?['id']",
                        "content": "@{string(body('Call_MCP_Tool')?['result'])}"
                      }
                    },
                    "runAfter": {
                      "Call_MCP_Tool": ["Succeeded"]
                    }
                  }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                  "concurrency": {
                    "repetitions": 1
                  }
                }
              }
            },
            "else": {
              "actions": {
                "Mark_Loop_Complete": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "loopComplete",
                    "value": true
                  },
                  "runAfter": {}
                },
                "Set_Final_Response": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "finalResponse",
                    "value": "@coalesce(variables('lastAssistantMessage')?['content'], 'No response generated.')"
                  },
                  "runAfter": {
                    "Mark_Loop_Complete": ["Succeeded"]
                  }
                }
              }
            },
            "runAfter": {
              "Append_Assistant_Message": ["Succeeded"]
            }
          }
        },
        "runAfter": {
          "Add_User_Message": ["Succeeded"]
        }
      },
      "Response": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "headers": {
            "Content-Type": "application/json"
          },
          "body": {
            "response": "@variables('finalResponse')",
            "iterations": "@variables('iterationCount')",
            "conversationHistory": "@variables('messages')"
          }
        },
        "runAfter": {
          "Agent_Loop": ["Succeeded"]
        }
      }
    }
  },
  "kind": "Stateful"
}
